.showOrHideButton.showOrHideButton {
  position: absolute;
  left: 50%;

  display: grid;
  justify-content: center;

  z-index: -1;

  width: 8em;

  background: rgb(0, 162, 255);
  padding: .25em;
  border-radius: .5em;

  translate: -50% -1.25em;
}

.showOrHideIcon.showOrHideIcon {
  filter: invert(1);

  width: 4em;

  translate: 0 -.95em;
}
