.downloadButton.downloadButton {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;

  justify-self: center;

  cursor: pointer;

  background: rgb(6, 177, 0);
  padding: .3em .5em;

  border: none;
  border-radius: .125em;
}

.downloadButton.downloadButton:focus,
.downloadButton.downloadButton:hover {
  background: rgb(50, 194, 46);
}

@media (min-width: 600px) {
  .downloadButton.downloadButton {
    justify-self: end;

    order: 2;

    margin: 0;
  }
}
