.amountsForm {
  display: grid;
  grid-template-columns: max-content .7em max-content 3em 1fr;
  align-items: center;

  margin-bottom: 2em;
}

.text {
  font-size: 1.2rem;
  font-weight: 700;
}

.checkbox {
  grid-column: 3;
}

.input {
  grid-column: 5;

  width: 8em;
}
