.legend {
  grid-row: 5;

  color: #fff;

  position: fixed;
  left: 50%;
  bottom: 0;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: minmax(1em, 1fr) 10fr minmax(1em, 1fr);
  row-gap: 2em;

  height: 3.5em;

  overflow: hidden;

  background: rgb(0, 162, 255);
  padding: 1em 0;
  border-radius: 1.5em;

  translate: -50% -1em;
  transition: height 500ms;
}

.legend:focus,
.legend:hover {
  height: 28em;

  outline: none;
}

.shortcuts {
  grid-row: 2;
  grid-column: 2;
  justify-self: center;

  display: grid;
  row-gap: 1em;

  list-style: none;

  padding: 0;

  margin: 0;
}

.shortcut {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  column-gap: 2em;
}

.shortcutKeyBackground,
.shortcutKey {
  justify-self: start;

  border-radius: .25em;
}

.shortcutKeyBackground {
  background: #2c823e;
}

.shortcutKey {
  font: inherit;
  color: inherit;

  display: inline-block;

  cursor: pointer;

  background: rgb(50, 194, 46);
  padding: .25em .75em;
  border: none;

  translate: 0 -.2em;
}

.shortcutKey:active {
  translate: 0 -.1em;
}

.shortcutDescription {
  text-align: end;

  translate: 0 -.2em;
}
