.wireList {
  justify-self: end;

  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  justify-content: center;

  list-style: none;

  padding: 0;

  margin: 0;
}

@media (min-width: 600px) {
  .wireList {
  }
}
