.wireList {
  justify-self: end;
}

.wireListLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
  justify-content: center;

  list-style: none;

  padding: 0;

  margin: 0;
}
