.app {
  font-family: sans-serif;

  display: grid;

  min-height: 100vh;
  max-height: 100vh;

  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-rows: max-content max-content 1fr 2em 6em;
  justify-content: center;

  max-height: 100vh;

  margin-top: 2em;
}

@media (min-width: 600px) {
  .layout {
    display: grid;
    justify-content: center;
  }
}
