.button.button {
  font-size: .9rem;
  font-weight: 700;

  justify-self: end;
}

.icon.icon {
  filter: invert(13%) sepia(81%) saturate(4244%) hue-rotate(352deg) brightness(109%) contrast(108%);
}
